@page
@model MyCartModel
<h2>Giỏ hàng của bạn</h2>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Số lượng</th>
                <th>Mặt hàng</th>
                <th class="text-right">Giá</th>
                <th class="text-right">Thành tiền </th>
            </tr>
        </thead>
<tbody>
    @foreach (var line in Model.myCart.Lines)
    {
    <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-left">@line.ve.Title</td>
            <td class="text-right">@line.ve.Price.ToString("c")</td>
            <td class="text-right">
                @((line.Quantity * line.ve.Price).ToString("c"))
            </td>
    <td class="text-center">
        <form asp-page-handler="Remove" method="post">
            <input type="hidden" name="veID"
             value="@line.ve.veID" />
            <input type="hidden" name="returnUrl"
                value="@Model.ReturnUrl" />
            <button type="submit" class="btn btn-sm btn-danger">
           xóa
            </button>
        </form>
    </td>
     </tr>
    }
</tbody>
    <tfoot>
        <tr>
           <td colspan="3" class="text-right">Tổng tiền:</td>
           <td class="text-right">
              @Model.myCart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
    
</table>
<div class="text-center">
    <a class="btn btn-info" href="@Model.ReturnUrl">Tiếp tục mua</a>
    <a class="btn btn-info" asp-action="Checkout" asp-controller="Order">
    Thanh toán
    </a>
</div>



